.tablero-containter {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turno-actual {
  text-align: center;
  font-size: large;
  font-weight: 700;
  padding: 50px;
}

.tablero-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
